@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Montserrat:wght@700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #121213;
  color: white;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 1rem;
  font-weight: normal;
  margin: 0.5rem; 
}

header{
  background-color: #0b0b0b;
  display: flex;
  justify-content: center;
}

.navBar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: white;
  width:80%;
}
.navLinks{
  display: flex;
  gap: 2rem;
}

.navLinks a{
  color: white;
  text-decoration: none;
}

.colorsContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.colorsWrapper {
  display: flex;
}

.colorBtn{
  height: 50px;
  width: 70px;
  margin: 5px;
  border: solid black 1px;
  border-radius: 4px;
}

.red {
  background-color: #f17f7f;
}

.yellow {
  background-color: #e9ba3a;
}

.green {
  background-color: #9cec9c;
}

.white {
  background-color: #d4cfcf;
}

h2{
  text-align: center;
  font-size: 1.2rem;
  color: black;
  border-radius: 1px;
  background-color: #d4cfcf;
}

.boardContainer {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: 10px;
}

.guessContainer {
  display: flex;
  gap: 10px;
}
.resetRows {
  display: flex;
  flex-direction: column;
  // gap: 10px;

}
.reset {
  font-family: 'Roboto', sans-serif;
  height: 50px;
  width: 80px;
  border: solid black 1px;
  text-align: center;
  font-size: 20px;
  background-color: #d4cfcf;
  border-radius: 4px;
}

.square {
  height: 50px;
  width: 50px;
  // margin: 5px;
  border: solid black 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  // margin-bottom: -2px;
  // margin-right: -2px;
  font-size: 30px;
  // background-color: #d4cfcf;
  color: black;
  border-radius: 4px;
}

.row-container {
  display: grid;
  grid-template-columns: repeat(5, 50px);
  gap: 2px;
  .square{
    background-color: #d4cfcf;
  }
}

.answer_row {
  display: flex;
}

#keyboardWrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
 
}

#keyboardContainer {
  width: 800px;
  display: flex; 
  flex-direction: column;
  gap: 5px;
}

#row0, #row1, #row2{
  display: flex;
  justify-content: center;
  gap: 5px;

}







// .button-text {
//   font-size: 12px;
// }



// // #keyboardContainer {
// //   display: flex;
// //   flex-wrap: wrap;
// //   width: 500px;
// //   gap: 2px;
// //   justify-content: center;
// // }

.keyboard-button {
  padding: 20px;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  background-color: #d4cfcf;
  border: none;
}

.keyboard-button:hover {
  background-color: #f0f0f0;
}












// hr {
//   border: 0;
//   border-top: 1px inset #f0f0f0;
// }

// #resetBackground {
//   background-color: #d4cfcf;
// }

// body {
//   font-family: 'Roboto', sans-serif;
// }


// @media (max-width: 768px) {
//   .navBar {
//     flex-direction: column;
//   }

//   .boardContainer {
//     flex-direction: column;
//   }
// }




