@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Montserrat:wght@700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #121213;
  color: white;
}

.navBar {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.navBarItem {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.square {
  height: 50px;
  width: 50px;
  margin: 5px;
  border: solid black 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: -2px;
  margin-right: -2px;
  font-size: 30px;
  background-color: #d4cfcf;
  color: black;
  border-radius: 4px;
}

.row-container {
  display: grid;
  grid-template-columns: repeat(5, 50px);
  gap: 2px;
  background-color: #d4cfcf;;
}

.boardContainer {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: 20px;
}

.mainContainer {
  display: flex;
  flex-direction: column;
}

.guessContainer {
  display: flex;
  gap: 10px;
}

.reset {
  font-size: 10px;
  height: 50px;
  width: 80px;
  margin: 5px;
  // border: solid black 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: -2px;
  margin-right: -2px;
  font-size: 30px;
  background-color: #d4cfcf;
  border-radius: 4px;
}

.button-text {
  font-size: 12px;
}

#keyboardWrapper {
  display: flex;
  justify-content: center;
}

// #keyboardContainer {
//   display: flex;
//   flex-wrap: wrap;
//   width: 500px;
//   gap: 2px;
//   justify-content: center;
// }

.keyboardButton {
  padding: 15px;
  border-radius: 5px;
}


.red {
  background-color: #f17f7f;
}

.yellow {
  background-color: #e9ba3a;
}

.green {
  background-color: #9cec9c;
}

.white {
  background-color: #d4cfcf;
}

.answer_row {
  display: flex;
}
.colorBtn{
  height: 50px;
  width: 70px;
  margin: 5px;
  border: solid black 1px;
  border-radius: 4px;
}

.colorsContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.colorsWrapper {
  display: flex;
}


hr {
  border: 0;
  border-top: 1px inset #f0f0f0;
}

#resetBackground {
  background-color: #d4cfcf;
}

body {
  font-family: 'Roboto', sans-serif;
}


@media (max-width: 768px) {
  .navBar {
    flex-direction: column;
  }

  .boardContainer {
    flex-direction: column;
  }
}




